{% extends "base.html" %}

{% block title %}Analytics{% endblock %}

{% block hero %}
<header class="hero" style="background-image: url('{{ url_for('static', filename='Background.png') }}');">
  <div class="hero-content">
    <h1>Your Data at a Glance</h1>
    <p>Visualize trends and optimize your habits.</p>
  </div>
</header>
{% endblock %}


{% block content %}
<div class="analytics-container">
  
  <h2>Current Course Grades</h2>
  <div class="grades-analytics-table">
    <table>
      <thead>
        <tr>
          <th>Course Code</th>
          <th>Course Name</th>
          <th>Current Grade (%)</th>
        </tr>
      </thead>
      <tbody>
        {% for c in courses %}
          <tr>
            <td>{{ c.code }}</td>
            <td>{{ c.title }}</td>
           <td>
                {% if c.grade is not none and c.grade < 100.0 %}
                    {{ "{:.1f}".format(c.grade) }}% 
                {% else %}
                    No Graded Assignments
                {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
   <h2>Pomodoro Sessions</h2>
  <img src="{{ url_for('pomodoro_chart') }}" alt="Pomodoro Chart">

  <h2>Habit Trends</h2>

  <h2>Yes/No Habits (bar chart)</h2>
  <img src="{{ url_for('habit_chart_boolean') }}?days={{ days }}"
       alt="Boolean habit chart">

  <h2>Numeric Habits (line chart)</h2>
  <img src="{{ url_for('habit_chart_numeric') }}?days={{ days }}"
       alt="Numeric habit chart">
</div>
{% endblock %}
