<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% block head %}{% endblock %}
    <title>{% block title %}Dashboard{% endblock %}</title>
  </head>
  <body>


    <nav class="navbar">
      <div class="navbar-logo">
        <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo">
      </div>
      <ul class="navbar-links">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('analytics_view') }}">Analytics</a></li>
      </ul>
    </nav>
    
    {% block hero %}{% endblock %}

    <div class="sidebar">
      <a href="#assigns" title="Assignments"><span>📘</span></a>
      <a href="#pomodoro" title="Pomodoro"><span>⏱️</span></a>
      <a href="#todolist" title="To-Do List"><span>📝</span></a>
      <a href="#habits" title="Habits"><span>💪</span></a>
    </div>

    <main>{% block content %}{% endblock %}</main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>

